# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database files
*.db
*.sqlite3

# Generated Data & Cache
cache/
dataset/xml/
*.xml

# Logs
logs/
*.log

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary/Test scripts
test_api.py
